*{
    padding: 0;
    margin: 0;
}
.header
{
    width: 1349px;
    height: 110px;
    background-color: #2c3e50;
    clear: both;
}
.headerh1
{
    width: 380px;
    float: left;
    color: white;
    margin: 35px 50px;
}
.menu
{
    display: flex;
    float: right;
    color: white;
    /* margin-left: 470px; */
    margin: 18px 35px;
}
.menu h3
{
    padding: 25px 25px 0 0;
    flex-wrap: wrap-reverse;
}
.header1
{
    width: 1349px;
    height: 670px;
    background-color: #18bc9c;
}
.header1 a img
{
    margin-top: 100px;
    margin-left: 40%;
}
.header2
{
    font-size: 75px;
    color: white;
    text-align: center;
}
.header3
{
    width: 250px;
    height: 5px;
    background-color: white;
    margin:auto;
    margin-top: 25px
}
.header4
{
    color: white;
    font-size: 1.75em;
    text-align: center;
    margin-top: 30px;
}

.contain h2
{
    text-align: center;
    margin-top: 100px;
    font-size: 3em;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #2c3e50;
}
.contain
{
    width: 1349px;
    height: 800px;
}
.contain1
{
    width: 250px;
    height: 5px;
    background-color: #2c3e50;
    margin-left: 40%;
    margin-top: 20px;
}
.contain2
{
    margin-left: 100px;
}
.contain2 img
{
    width: 360px;
    height: 260px;
    float:inline-start;
    margin-top: 30px;
    margin-left: 25px;
}
.about
{
    width: 1349px;
    height: 630px;
    background-color: #18bc9c;
    clear: both;
}
.about h1
{
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 75px;
}
.line
{
    width: 250px;
    height: 5px;
    background-color: white;
    margin:auto;
    margin-top: 25px
}
.row
{
    width: 790px;
    height: 263px;
    margin: 40px auto auto auto;
    clear: both;
}
.row1
{
    width: 400px;
    text-justify: auto;
    font-size: 28px;
    color: white;
    float: left;
}
.row2
{
    width: 390px;
    text-justify: auto;
    font-size: 28px;
    color: white;
    float: left;
}
.download
{
    width: 238px;
    height: 66px;
    /* background-color: transparent; */
    margin: auto;
    border: solid 2px white;
    border-radius: 10px;
}
.download p{
    text-align: center;
    font-size: 25px;
    color: white;
    line-height: 65px;
}
@media screen and (max-width: 1349px)
{
    .header.menu.header1.contain.about
    {
        width: 100%;
    }
}
